<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download tsk tsk</title>
</head>
<body>
  <h2> Download </h2>
  <br><br>

  <p><a href = '/paid' download > Paid Apps</a></p>
  <p><a href = '/free' download> Free Apps  </a></p>
  <p><a href = '/everyone' download> Apps for Everyone  </a></p>
  <p><a href = '/everyone_ten' download> Apps for Everyone 10+  </a></p>
  <p><a href = '/teen' download> Apps for Teens  </a></p>
  <p><a href = '/mature' download> Apps for Mature 17+  </a></p>
  <p><a href = '/adult' download> Apps for Adult 18+  </a></p>
  <p><a href = '/unrated' download> Unrated Apps  </a></p>
  <p><a href = '/round' download> Final Data with Rounded Ratings  </a></p>

 
</body>
</html>