<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download tsk tsk</title>
</head>
<body>
  <h2> Download </h2>
  <br><br>
  <p><a href = '#' download> Paid Apps  </a></p>
  <p><a href = '#' download> Free Apps  </a></p>
  <p><a href = '#' download> Apps for Everyone  </a></p>
  <p><a href = '#' download> Apps for Everyone 10+  </a></p>
  <p><a href = '#' download> Apps for Teens  </a></p>
  <p><a href = '#' download> Apps for Mature 17+  </a></p>
  <p><a href = '#' download> Apps for Adult 18+  </a></p>
  <p><a href = '#' download> Unrated Apps  </a></p>
  <p><a href = '#' download> Final Data with Rounded Ratings  </a></p>
 

  {% comment %} {% if url %}
  <p>Uploaded File : <a href = "{{url}}">{{url}}</a></p>
  {% endif %} {% endcomment %}
 
</body>
</html>